.active{
	background-color: brown!important;
}
div{
	width: 45%;
	float: left;
}
div.first-child{
	padding: 2rem;
}
div h2{
	font-family: "Oswald",sans-serif;
	padding: 0rem 1rem;
	margin-bottom: 0;
}
div p{
	font-family: "Roboto",sans-serif;
	font-size: 0.8rem!important;
	padding: 1rem;
	line-height: 1.5rem;
}
table {
	margin:10% auto;
	border:2px solid blue;
}
tr.square {
    border-radius: 10%;
    width: 22px;
    height: 22px;
}

td.square {
	background-color:#2C3E50;
    border-radius: 10%;
    width: 22px;
    height: 22px;
}
tr.line {
	background-color: white;
    width: 7px;
    height: 7px;
}
td.line {
	background-color: white;
    width: 7px;
    height: 7px;
}
div.jugador1 {
	background-color: red;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    /*position: absolute;*/
}
div.jugador2 {
	background-color: green;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}
div.jugador3 {
	background-color: cyan;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}
div.jugador4 {
	background-color: yellow;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}