.active{
	background-color: brown!important;
}
body {
    padding: 1rem;
}
div{
	width: 45%;
	float: left;
}
div.first-child{
	padding: 2rem;
}
input[type="number" i] {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}
input[type="submit" i]{
    padding: 0.5rem 0.5rem;
}

div h2{
	font-family: "Oswald",sans-serif;
	padding: 0rem 1rem;
	margin-bottom: 0;
}
div p{
	font-family: "Roboto",sans-serif;
	font-size: 1.5rem!important;
	padding: 0rem 1rem;
	line-height: 2.5rem;
    text-align: justify;
}
table {
	margin:10% auto;
	border:2px solid blue;
}
tr.square {
    border-radius: 10%;
    width: 44px;
    font-size: 0.3rem;
    text-align: center;
    height: 44px;
}

td.square {
	background-color:#2C3E50;
    border-radius: 10%;
    color:#fff;
    width: 44px;
    height: 44px;
    font-size: 1rem;
    text-align: center;
}
tr.line {
	background-color: white;
    width: 7px;
    height: 7px;
    font-size: 0.3rem;
    text-align: center;
}
td.line {
	background-color: white;
    font-size: 0.3rem;
    text-align: center;
    width: 3px;
    height: 3px;
}
div.jugador1 {
	background-color: red;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    /*position: absolute;*/
}
div.jugador2 {
	background-color: green;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}
div.jugador3 {
	background-color: cyan;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}
div.jugador4 {
	background-color: yellow;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}